
<form *ngIf="!createdRoom._id; else showCreatedInfo" [formGroup]="addRoomForm" (ngSubmit)="addNow()">
    <label for="type">Room type: </label><br>
    <input type="text"  formControlName="type"><br>

    <label for="price_per_day">Price per day: </label><br>
    <input type="number" formControlName="price_per_day"><br>

    <label for="hotel_name">Hotel name: </label><br>
    <input type="text"  formControlName="hotel_name"><br>

    <label for="longitude">Location: Longitude</label><br>
    <input type="number"  formControlName="longitude"><br>

    <label for="latitude">Location: Latitude</label><br>
    <input type="number"  formControlName="latitude"><br>

    <button type="submit" [disabled]="addRoomForm.invalid">Submit</button>
</form>  


<ng-template #showCreatedInfo>
    <div >
        <h2>Here are your new room details: </h2>
        <p>Room type: {{createdRoom.type}}</p>
        <p>Hotel name: {{createdRoom.hotel_name}}</p>
        <p>Price per day: {{createdRoom.price_per_day}}</p>
        <p>Available today: {{createdRoom.available}}</p>
        <p>Location: {{createdRoom.location}}</p>
    </div>
</ng-template>



<button (click)="goBackToList()">Back To Room List</button>
